.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Adjust as needed for your layout */
}

.form-container {
    width: 400px; /* Adjust width as needed */
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #a0a0a0;
    border-color: #a0a0a0;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary:hover {
    color: #fff;
    background-color: #a0a0a0;
    border-color: #a0a0a0;
}






.main{
    overflow: auto;
    display: flex;
    justify-content: space-around;
    padding: 20mm;
}

.certificate-section-con{
    display: flex;
    justify-content: space-between;
}

.imgp{
    width: 200px;
    height: 50px;
}



/* Set up A4 page size */
@page {
    size: A4;
    margin: 20mm;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    overflow: auto;
    /* padding: 20px; */
}

.certificate-container {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    background-color: #fff;
    padding: 10mm 20mm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    /* overflow: auto; */
}

.certificate-header {
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.certificate-header h1 {
    margin: 0;
    font-size: 28px;
}

.certificate-no {
    margin: 0;
    font-size: 16px;
    color: #555;
}

.certificate-section {
    margin-bottom: 20px;
}

.certificate-section h2 {
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    color: #333;
}

.certificate-section p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

.certificate-section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    margin-top: 10px;
}

/* Print-specific styles */
@media print {
    body {
        background-color: #fff;
    }

    .certificate-container {
        box-shadow: none;
    }
}
